<p-accordion value="0" [multiple]="true">
  <p-accordion-panel value="0">
    <p-accordion-header>Input Output</p-accordion-header>
    <p-accordion-content>
      <div class="bg-slate-100 p-4 rounded">
        <app-input-output></app-input-output>
      </div>
    </p-accordion-content>
  </p-accordion-panel>

  <p-accordion-panel value="1">
    <p-accordion-header>Signal Observable</p-accordion-header>
    <p-accordion-content>
      <div class="bg-slate-100 p-4 rounded">
        <app-signal-observable></app-signal-observable>
      </div>
    </p-accordion-content>
  </p-accordion-panel>

  <p-accordion-panel value="2">
    <p-accordion-header>RxJS</p-accordion-header>
    <p-accordion-content>
      <div class="bg-slate-100 p-4 rounded">
        <app-rxjs></app-rxjs>
      </div>
    </p-accordion-content>
  </p-accordion-panel>

</p-accordion>
